.howTo {
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
}

.howTo__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.howTo__header  div img {
    width: 6rem;
    height: 2rem;
}

.howTo__header  div img:hover {
    cursor: pointer;
}

.howTo__desc {
    display: flex;
    flex-direction: column;
    background: url('https://www.hisa.co/assets/img/hisa-devices-mockup.png');
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;

}

.howTo__container {
    display: flex;
    gap: 2rem;
    width: 30rem;
    height: 10rem;
    margin-bottom: 20px;
    align-items: center;
    border: 1px solid var(--clr-gold);
    padding: 0 20px;
    border-radius: 10px;
    transition: 2s ease;
}

.howTo__container:hover {
    cursor: pointer;
    border: 1px solid var(--clr-prpl-light);
    background-color: var(--clr-prpl-light);
}

.howTo__container div {
    display: flex;
    text-align: center;
}

.howTo__container div h2 {
    border: 1px solid var(--clr-gold);
    border-radius: 20px;
    width: 2rem;
    font-size: var(--size-lg);
    padding: 5px;
    background-color: inherit;
    font-weight: 400;
}

.howTo__paragraph {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.howTo__image {
    width: 10rem;
    height: 2px;
}